<ion-view view-title="Información del autor">
  <ion-content>
    <ion-list>
    <ion-item>
	<img src='img/facu.jpg' height="200" width="200">
    </ion-item>
    <ion-item>
      <span>Autor: </span>Cristian Facundo Varela
    </ion-item>
    <ion-item>  
      <span>Curso: </span>4º A - 2016
    </ion-item>
    <ion-item>
      Email: cvarelagarcia@gmail.com
    </ion-item>
	<ion-item>
    	<a class="button icon ion-social-github" href='https://github.com/VarelaCristianFacundo'></a>
    	<h2>GitHub</h2>
	</ion-item>
	<ion-item>
    	<a class="button icon ion-social-facebook" href='https://www.facebook.com/facundo.varela.5623'></a>
    	<h2>Facebook</h2>
	</ion-item>
	<ion-item>
    	<a class="button icon ion-social-linkedin" href='https://www.linkedin.com/in/cristian-facundo-varela-4b81989b?trk=hp-identity-name'></a>
    	<h2>Linkedin</h2>
	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
